<div class="container" style="padding-top: 20px; background: #f2f2f2; height: 100%; width:100%;">
    <div class="row">
        <div class="col-xs-6" >
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Opções de Gestos</h3>
                </div>
                <div class="box-body" style="height:540px;">
                    <div class="form-inputs">
                        <div class="form-input">
                            <div class="input">
                                <input id="input-1" type="checkbox" class="minimal" ng-click="ilustrar(0)">
                            </div>
                            <div class="label-text">
                                <label for="input-1">
                                    {{frases[0].gesto}}<br>
                                    <span class="descricao">
                                    {{frases[0].frase}}
                                    </span>
                                </label>
                            </div>
                            <div class="options">
                                <a href="#" class="btn btn-default" ng-click="editar(frases[0].gesto)">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-input">
                            <div class="input">
                                <input id="input-2" type="checkbox" class="minimal" ng-click="ilustrar(1)">
                            </div>
                            <div class="label-text">
                                <label for="input-2">
                                    {{frases[1].gesto}}<br>
                                    <span class="descricao">
                                    {{frases[1].frase}}
                                    </span>
                                </label>
                            </div>
                            <div class="options">
                                <a href="#" class="btn btn-default" ng-click="editar(frases[1].gesto)">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-input">
                            <div class="input">
                                <input id="input-3" type="checkbox" class="minimal" ng-click="ilustrar(2)">
                            </div>
                            <div class="label-text">
                                <label for="input-3">
                                    {{frases[2].gesto}}<br>
                                    <span class="descricao">
                                        {{frases[2].frase}}
                                    </span>
                                </label>
                            </div>
                            <div class="options">
                                <a href="#" class="btn btn-default" ng-click="editar(frases[2].gesto)">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-input">
                            <div class="input">
                                <input id="input-4" type="checkbox" class="minimal" ng-click="ilustrar(3)">
                            </div>
                            <div class="label-text">
                                <label for="input-4">
                                    {{frases[3].gesto}}<br>
                                    <span class="descricao">
                                        {{frases[3].frase}}
                                    </span>
                                </label>
                            </div>
                            <div class="options pull-right">
                                <a href="#" class="btn btn-default pull-right" ng-click="editar(frases[3].gesto)">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-input">
                            <div class="input">
                                <input id="input-5" type="checkbox" class="minimal" ng-click="ilustrar(4)">
                            </div>
                            <div class="label-text">
                                <label for="input-5">
                                    {{frases[4].gesto}}<br>
                                    <span class="descricao">
                                        {{frases[4].frase}}
                                    </span>
                                </label>
                            </div>
                            <div class="options pull-right">
                                <a href="#" class="btn btn-default pull-right" ng-click="editar(frases[4].gesto)">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer" style="color:gray;">
                    Selecione os gestos ativos durante a sessão.
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Demonstração dos Gestos</h3>
                </div>
                <div class="box-body text-center">
                    Veja abaixo como o gesto {{gesto.titulo}} é realizado. <hr>
                    <img src="static/images/{{imagem_atual}}.gif" style="width:400px;height:500px;">
                </div>
                <!-- /.box-body -->
                <!-- <div class="box-footer">
                    Opções de mungangas. <a href="#">Mungangas</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
