<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
  </head>
  <body>
    <div class="row">
        <audio id="player1" src="" class="speech" hidden></audio>
    <div class="bs-example col-md-12" data-example-id="bordered-table">
      <table class="table table-bordered table-responsive table-hover">
        <tbody>
          <tr>
            <td linha=1 coluna=1 class="btn btn-default col-md-1" ng-click="adicionar_tecla(0, 0)">
                {{alfabeto[0][0]}}
            </td>
            <td linha=1 coluna=2 class="btn btn-default col-md-1" ng-click="adicionar_tecla(0, 1)">{{alfabeto[0][1]}}</td>
            <td linha=1 coluna=3 class="btn btn-default col-md-1" ng-click="adicionar_tecla(0, 2)">{{alfabeto[0][2]}}</td>
            <td linha=1 coluna=4 class="btn btn-default col-md-1" ng-click="adicionar_tecla(0, 3)">{{alfabeto[0][3]}}</td>
            <td linha=1 coluna=5 class="btn btn-default col-md-1" ng-click="adicionar_tecla(0, 4)">{{alfabeto[0][4]}}</td>
            <td linha=1 coluna=6 class="btn btn-default col-md-1" ng-click="adicionar_tecla(0, 5)">{{alfabeto[0][5]}}</td>
            <td linha=1 coluna=7 class="btn btn-default col-md-1" ng-click="adicionar_tecla(0, 6)">{{alfabeto[0][6]}}</td>
            <td class="btn btn-info col-md-1 predicao" ng-click="add_palavra(palavras[0].texto)">{{palavras[0].texto}}</td>

          </tr>
          <tr>
            <td linha=2 coluna=1 class="btn btn-default col-md-1" ng-click="adicionar_tecla(0, 0)">{{alfabeto[1][0]}}</td>
            <td linha=2 coluna=2 class="btn btn-default col-md-1" ng-click="adicionar_tecla(1, 1)">{{alfabeto[1][1]}}</td>
            <td linha=2 coluna=3 class="btn btn-default col-md-1" ng-click="adicionar_tecla(1, 2)">{{alfabeto[1][2]}}</td>
            <td linha=2 coluna=4 class="btn btn-default col-md-1" ng-click="adicionar_tecla(1, 3)">{{alfabeto[1][3]}}</td>
            <td linha=2 coluna=5 class="btn btn-default col-md-1" ng-click="adicionar_tecla(1, 4)">{{alfabeto[1][4]}}</td>
            <td linha=2 coluna=6 class="btn btn-default col-md-1" ng-click="adicionar_tecla(1, 5)">{{alfabeto[1][5]}}</td>
            <td linha=2 coluna=7 class="btn btn-default col-md-1" ng-click="adicionar_tecla(1, 6)">{{alfabeto[1][6]}}</td>
            <td class="btn btn-info col-md-1 predicao" ng-click="add_palavra(palavras[1].texto)">{{palavras[1].texto}}</td>
            </tr>
            <tr>
              <td linha=3 coluna=1 class="btn btn-default col-md-1" ng-click="adicionar_tecla(2, 0)">{{alfabeto[2][0]}}</td>
              <td linha=3 coluna=2 class="btn btn-default col-md-1" ng-click="adicionar_tecla(2, 1)">{{alfabeto[2][1]}}</td>
              <td linha=3 coluna=3 class="btn btn-default col-md-1" ng-click="adicionar_tecla(2, 2)">{{alfabeto[2][2]}}</td>
              <td linha=3 coluna=4 class="btn btn-default col-md-1" ng-click="adicionar_tecla(2, 3)">{{alfabeto[2][3]}}</td>
              <td linha=3 coluna=5 class="btn btn-default col-md-1" ng-click="adicionar_tecla(2, 4)">{{alfabeto[2][4]}}</td>
              <td linha=3 coluna=6 class="btn btn-default col-md-1" ng-click="adicionar_tecla(2, 5)">{{alfabeto[2][5]}}</td>
              <td linha=3 coluna=7 class="btn btn-default col-md-1" ng-click="adicionar_tecla(2, 6)">{{alfabeto[2][6]}}</td>
              <td class="btn btn-info col-md-1 predicao" ng-click="add_palavra(palavras[1].texto)">{{palavras[2].texto}}</td>

            </tr>
            <tr>
              <td linha=4 coluna=1 class="btn btn-default col-md-1" ng-click="adicionar_tecla(3, 0)">{{alfabeto[3][0]}}</td>
              <td linha=4 coluna=2 class="btn btn-default col-md-1" ng-click="adicionar_tecla(3, 1)">{{alfabeto[3][1]}}</td>
              <td linha=4 coluna=3 class="btn btn-default col-md-1" ng-click="adicionar_tecla(3, 2)">{{alfabeto[3][2]}}</td>
              <td linha=4 coluna=4 class="btn btn-default col-md-1" ng-click="adicionar_tecla(3, 3)">{{alfabeto[3][3]}}</td>
              <td linha=4 coluna=5 class="btn btn-default col-md-1" ng-click="adicionar_tecla(3, 4)">{{alfabeto[3][4]}}</td>
              <td linha=4 coluna=6 class="btn btn-default col-md-1" ng-click="adicionar_tecla(3, 5)">{{alfabeto[3][5]}}</td>
              <td linha=4 coluna=7 class="btn btn-default col-md-1" ng-click="adicionar_tecla(3, 6)" style="font-size: 25px;" >Espaço</td>
              <td class="btn btn-warning col-md-1" ng-click="adicionar_tecla('enter', 6)">Enter</td>
              </tr>
              <tr>
                <td linha=5 coluna=1 class="btn btn-default col-md-1" ng-click="adicionar_tecla(4, 0)">{{alfabeto[4][0]}}</td>
                <td linha=5 coluna=2 class="btn btn-default col-md-1" ng-click="adicionar_tecla(4, 1)">{{alfabeto[4][1]}}</td>
                <td linha=5 coluna=3 class="btn btn-default col-md-1" ng-click="adicionar_tecla(4, 2)">{{alfabeto[4][2]}}</td>
                <td linha=5 coluna=4 class="btn btn-default col-md-1" ng-click="adicionar_tecla(4, 3)">{{alfabeto[4][3]}}</td>
                <td linha=5 coluna=5 class="btn btn-default col-md-1" ng-click="adicionar_tecla(4, 4)">{{alfabeto[4][4]}}</td>
                <td linha=5 coluna=6 class="btn btn-default col-md-1" ng-click="adicionar_tecla(4, 5)">{{alfabeto[4][5]}}</td>
                <td linha=5 coluna=7 class="btn btn-default col-md-1" ng-click="adicionar_tecla(4, 6)">{{alfabeto[4][6]}}</td>
                <td class="btn btn-danger col-md-1" ng-click="backspace()">Apagar</td>
                </tr>
                <tr>
                  <td linha=6 coluna=1 class="btn btn-default col-md-1" ng-click="adicionar_tecla(5, 0)">{{alfabeto[5][0]}}</td>
                  <td linha=6 coluna=2 class="btn btn-default col-md-1" ng-click="adicionar_tecla(5, 1)">{{alfabeto[5][1]}}</td>
                  <td linha=6 coluna=3 class="btn btn-default col-md-1" ng-click="adicionar_tecla(5, 2)">{{alfabeto[5][2]}}</td>
                  <td linha=6 coluna=4 class="btn btn-default col-md-1" ng-click="adicionar_tecla(5, 3)">{{alfabeto[5][3]}}</td>
                  <td linha=6 coluna=5 class="btn btn-default col-md-1" ng-click="adicionar_tecla(5, 4)">{{alfabeto[5][4]}}</td>
                  <td linha=6 coluna=6 class="btn btn-default col-md-1" ng-click="adicionar_tecla(5, 5)">{{alfabeto[5][5]}}</td>
                  <td linha=6 coluna=7 class="btn btn-default col-md-1" ng-click="adicionar_tecla(5, 6)">{{alfabeto[5][6]}}</td>
                  <td class="btn btn-success col-md-1" ng-click="falar()">Falar</td>
                  </tr>
          </tbody>
          </table> </div>
          <div class="col-md-12">
            <textarea class="form-control" rows="6" style="font-size:30px;">{{frase_total}}</textarea>
            <br class="underline">
            <br>

          </div>
        </div>
  </body>
</html>
