<div class="row">
  <div class="bs-example col-md-9" data-example-id="bordered-table">
    <!--Tabela do alfabeto-->
    <table class="table table-bordered table-responsive table-hover">
      <tbody>
        <tr ng-repeat="linha in alfabeto">
          <td linha="{{$parent.$index}}" class="{{coluna.c !=undefined ? coluna.c : ''}}" coluna="{{$index}}" ng-repeat="coluna in linha">{{coluna.a == '' ? coluna.v : coluna.a}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <textarea rows="16" cols="13" style="font-size:30px;" ng-model="frase_total"></textarea>
    <div class="btn btn-primary col-md-10" click-temporal ng-click="add_palavra(palavras[0].texto)" style="height: 95px; font-size:30px;">
      {{palavras[0].texto}}
    </div>
  </div>
</div>

<div class="col-md-12 btn-toolbar" role="toolbar">
  <button type="button" class="btn btn-warning btn-group col-md-3 enter" click-temporal ng-click="zerar('linha')">
      <span> Voltar para linha</span>
  </button>
  <button type="button" class="col-md-6 btn btn-success btn-group" click-temporal ng-click="adicionar_tecla()">
    OK
  </button>
  <button type="button" class="col-md-2 btn btn-danger btn-group" click-temporal ng-click="backspace()">
      <i>Apagar</i>
  </button>
</div>
