.form-inputs {
  margin: 15px auto;
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 100%;
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-bottom: 1px solid #E5EBF0;
}

.form-input .input
{
    margin-right: 10px;
}

.descricao
{
    font-weight: normal;
}

.options
{
    padding: 10px;
}
.form-input div:last-child {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.form-input:hover{
    background-color: #f2f2f2;
}
