

body{
  /*background-image: url('../back.jpg');*/
  background-color: #EFEFEF;
  width: 100%;
}

#dashboard md-card{
  padding: 7% 0;
  height: 38%;
}
#dashboard md-card:hover{
  background-color: rgb(63,81,181) !important;
}
.top-radius{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.max-width{
  width:95%;
}

.half-width{
  width:45%;
}
.coluna-teclado{
  padding-right: 2px;
}
.card-teclado{
  width: 100%;
  padding-bottom: 4px;
  display: table;
  height: 200px;
}
.card-teclado-dash{
  width: 100%;
  padding-bottom: 4px;
  display: table;
  height: 302px;
}

.card-teclado-dash i{
  font-size: 80px;
}
.card-frase{
  width: 100%;
  padding-bottom: 4px;
  display: table;
  height: 200px;
}
.card-arrow{
  width: 100%;
  height: 600px;
  padding-bottom: 4px;
  display: table;
}
.card-frase p, .card-arrow p, .card-teclado p, .card-teclado-dash p{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.btn1 {
  padding: 0 6px 0 6px;
  color: rgb(255, 255, 255) !important;
  border-radius: 3px;
  font-size: 30px !important;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  background-color: #37474F;
  /*background-color: rgb(63,81,181) !important;*/
}
.btn1:hover {
  background-color: rgb(63,81,181) !important;
}
.card-arrow md-icon{
  font-size: 40px;
}

.md-button:not([disabled]):hover {
    background-color: rgba(255, 255, 255, 0.96);
    color: rgb(255, 153, 78) !important;
    transition: 0.3s;
}

.click-text-hover{
  color:rgb(255,153,78) !important;
}

.btn-controle{
  font-size: 50px;
}

#dashboard .md-headline{
  margin-top: 10px;
  font-size:40px !important;
}
#dashboard .md-subhead{
  margin-top: 10px;
  font-size:25px !important;
}
.icon-lg{
  width: 130px;
  height: auto;
}

.click:hover{
  color:rgb(255,153,78) !important;
  text-decoration:none !important;
}
#dashboard a:hover{
  color:rgb(255,153,78) !important;
  text-decoration:none !important;

}

#dashboard a{
  padding-top:20px;
  padding-top:20px;
}

.md-tab{
  padding: 30px !important;
  padding-left: 60px !important;
  padding-right: 60px !important;
  font-size: 65px !important;
}

md-tabs-canvas{
  height: 100px !important;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  top: 80px;
  height: 4px;
}
*{
    cursor: none !important;
}

#cursor{
  position: fixed;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background-color: red;
  z-index: 100000;
  opacity: 0.5;
  pointer-events: none;
}

md-progress-circular.md-default-theme path, md-progress-circular path {
  stroke: rgb(55, 181, 46);
}

.btn2 {
  width: 100% !important;
  height: 100% !important;
  /*padding: 0 6px 0 6px;*/
  /*margin: 16px 8px 6px 8px !important;*/
  min-width: 88px;
  color: rgb(255, 255, 255) !important;
  border-radius: 3px;
  font-size: 50px !important;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  outline: none;
  border: none;
  background-color: rgb(63,81,181) !important;
}
#tab-frases{
  margin-top: -86px;
}

.coluna-frases{
  float: left;
  min-height: 100%;
  position: relative;
  min-width: 50%;
}

li .coluna-teclado{
  float: left;
  min-height: 100%;
  position: relative;
  min-width: 50%;
}

md-tab-item{
  min-height: 100px;
}

.coluna-teclado-ul div{
  min-height: 33.3%;
  position: relative;
}
.coluna-frases div{
  min-height: 33.3%;
  position: relative;
}

.coluna-frases div:hover .btn1{
  background-color: #e67e22;
}

p.md-raised.btn1:hover{
  background-color: #e67e22;
}

md-card.md-dark-blue-grey-theme:hover{
  background-color: rgb(63,81,181) !important;
}

md-button[aria-label]:hover{
  background-color: rgb(63,81,181) !important;
}

#link-home:hover{
  color: rgb(63,81,181) !important;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar{
  color: rgb(63,81,181);
  background: rgb(63,81,181);
  bottom: -20px;
}

a, md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon{
  color: #37474F;
}

a, md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon{
  color: #37474F;
}

#icon-tab-frases{
    display: inline;
}

md-prev-button, md-next-button{
  width: 100px !important;
}

md-tabs-canvas{
  margin: 0 100px !important;
}

#link-home{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding-right: 20px;
}

#icon-tab-frases i{
    font-size: 85px;
    padding-left: 30;
}
/*.tabsdemoDynamicHeight{
  margin-left: 140px !important;
}*/
md-tabs-wrapper{
  margin-left: 140px;
  z-index: 4;
}
md-prev-button{
  background-image: url('../images/left-arrow(1).png')!important;
  z-index: 999;
}
md-prev-button{
  background-size: 90px 90px !important;
  background-image: url('../images/left-arrow.png')!important;
  z-index: 999;
}
md-next-button{
  background-size: 90px 90px !important;
  background-image: url('../images/right-arrow.png')!important;
  z-index: 999;
}
md-next-button:hover{
  background-color: rgb(63,81,181) !important;
}
md-prev-button:hover{
  background-color: rgb(63,81,181) !important;
}
td{
  margin: 20px;
  font-size: 50px;
  text-align: center;
}
.btn-toolbar{
}
.btn-number, .menu{
  padding: 20px;
  font-size: 30px;
  height: 160px !important;
}
.btn-group{
  font-size: 25px;
  height: 115px;
}

input[type="text"]{
  font-size: 35px;
  height: 50px;
  text-align: center;
  margin-bottom: 20px;
}
.btn-number{
  height: 115px !important;
}
.ok{
  height: 320px !important;
}
th{
  height: 100px;
}
th[data-id="coluna"]{
  height: 150px !important;
}
.ativo{
  background-color: #00b3b3;
}

/* Centralizando a vistualização da Coluna */
.coluna{
  width: 100%;
  float:left;
  text-align:center;
  line-height:125px;
  font-size: 20px;
}

/* Centralizando a vistualização da Linha */
.linha{
  width: 100%;
  float:left;
  text-align:center;
  line-height: 100px;
}

.ok{
  height: 320px !important;
}

.td-menor{
  font-size: 28px;
  max-width: 20px;
}

.td-acentuacao{
  font-size: 28px;
  max-width: 25px;
}
